# Question 1

In [59]:
# Question 1
#declare the global variable a
a = 0
def b():
    #use the global 
    global a
    # pass the a to c function and change the value of a 
    a = c(a)
def c(a):
    # add 2 to value of a and return
    return a + 2
# a is global variable
# calling b function change the value of variable a to 2
b()
# now the value of a is 2
# second time calling b function change the value of variable a to 4 
b()
# now the value of a is 4
# second time calling b function change the value of variable a to 6
b()
# now the value of a is 6
print(a);

6

# Question 2

In [3]:
# Question 2
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("File "+ file_name +" not found.")
file_length('MidTermExamQuestion23.ipynb')
file_length('idterm.py')

2258
File idterm.py not found.

# Question3

In [6]:
# Question3
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        print(self.pouch)
    
class Kangaroo(Marsupial):
    def __init__(self, x=0, y=0):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return "I am a Kangaroo located at coordinates ("+self.x+","+{self.y}+")"
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()
    
kangaroo = Kangaroo(0,0)
print(kangaroo)
kangaroo.put_in_pouch('doll2')
kangaroo.put_in_pouch('firetruck1')
kangaroo.put_in_pouch('kitten1')
kangaroo.pouch_contents()
kangaroo.jump(1,0)
kangaroo.jump(1,0)
kangaroo.jump(1,0)
print(kangaroo)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll2', 'firetruck1', 'kitten1']
I am a Kangaroo located at coordinates (3,0)

# Question4

In [10]:
# Question4
def Collatz(x):
    print(x)

    if x == 1:
        return

    if x % 2 == 0:
        Collatz(x // 2)
    else:
        Collatz(3 * x + 1)
print("Ans for 1")        
Collatz(1)
print("Ans for 10")
Collatz(10)
print("Ans for 11")
Collatz(11)

Ans for 1
1
Ans for 10
10
5
16
8
4
2
1
Ans for 11
11
34
17
52
26
13
40
20
10
5
16
8
4
2
1

# Question5

In [15]:
#Question5
def binary(n):
    if n < 0:
        return;
    if n > 1:
        binary(n // 2)
    print(n % 2, end="")
print("for 0")
binary(0)
print("\nfor 1")
binary(1)
print("\nfor 3")
binary(3)
print("\nfor 9")
binary(9)

for 0
0
for 1
1
for 3
11
for 9
1001

# Question6

In [26]:
#Question6
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.headings = []
        self.current_heading = ""
        self.indentation_level = 0

    def handle_starttag(self, tag, attrs):
        if tag.startswith('h') and len(tag) == 2:
            self.current_heading = ""
            self.indentation_level = int(tag[1])
    
    def handle_data(self, data):
        self.current_heading += data

    def handle_endtag(self, tag):
        if tag.startswith('h'):
            self.headings.append(self.current_heading.strip())
            self.current_heading = ""
            self.indentation_level = 0
    
    def print_headings(self):
        for heading in self.headings:
            indentation = "\t" * self.indentation_level
            print(f"{indentation}{heading}")
            
infile = open('w3c.html', 'r')
content = infile.read()
infile.close()

hp = HeadingParser()
hp.feed(content)
hp.print_headings()

Change_me
W3C Mission
Principles

# Question7

In [31]:
#Question7
import requests
from bs4 import BeautifulSoup


def webdir(url, depth, indent):
    print(url)
    if depth < 0:
        return

    response = requests.get(url)
    if response.status_code == 200:
        content = response.text
        soup = BeautifulSoup(content, 'html.parser')
        print(' ' * indent + url)

        for link in soup.find_all('a'):
            href = link.get('href')
            if href.startswith('http'):
                webdir(href, depth - 1, indent + 4)

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 1)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question8

In [41]:
#Question 8
import sqlite3

conn = sqlite3.connect('weatherData.db')
cursor = conn.cursor()

cursor.execute('''CREATE TABLE weather (
                    City TEXT,
                    Country TEXT,
                    Season TEXT,
                    Temperature REAL,
                    Rainfall REAL
                )''')
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]
cursor.executemany('INSERT INTO weather VALUES (?,?,?,?,?)', data)
conn.commit()

In [57]:
#Question8 continue
# Fetch all temperature data
cursor.execute("SELECT Temperature FROM weather")
temperature_data = cursor.fetchall()
print("Temperature Data:")
for temperature in temperature_data:
    print(temperature[0])

# Fetch all unique cities
cursor.execute("SELECT DISTINCT City FROM weather")
cities_data = cursor.fetchall()
print("\nCities without repetition:")
for city in cities_data:
    print(city[0])

# Fetch all records for India
cursor.execute("SELECT * FROM weather WHERE Country = 'India'")
india_data = cursor.fetchall()
print("\nRecords for India:")
for record in india_data:
    print(record)

# Fetch all Fall records
cursor.execute("SELECT * FROM weather WHERE Season = 'Fall'")
fall_data = cursor.fetchall()
print("\nFall Records:")
for record in fall_data:
    print(record)

# Retrieve city, country, and season with average rainfall between 200 and 400 millimeters
cursor.execute('''SELECT City, Country, Season 
                  FROM weather 
                  WHERE Rainfall BETWEEN 200 AND 400
                  GROUP BY City, Country, Season''')
avg_rainfall_data = cursor.fetchall()
print("City, Country, and Season with average rainfall between 200 and 400 millimeters:")
for data in avg_rainfall_data:
    print(data)

# Retrieve city and country with average Fall temperature above 20 degrees, in increasing temperature order
cursor.execute('''SELECT City, Country
                  FROM weather
                  WHERE Season = 'Fall'
                  GROUP BY City, Country
                  HAVING AVG(Temperature) > 20
                  ORDER BY AVG(Temperature) ASC''')
avg_temp_data = cursor.fetchall()
print("\nCity and Country with average Fall temperature above 20 degrees (in increasing temperature order):")
for data in avg_temp_data:
    print(data)

# Retrieve total annual rainfall for Cairo
cursor.execute("SELECT SUM(Rainfall) FROM weather WHERE City = 'Cairo'")
total_rainfall_cairo = cursor.fetchone()[0]
print("\nTotal annual rainfall for Cairo:", total_rainfall_cairo, "millimeters")

# Retrieve total rainfall for each season
cursor.execute('''SELECT Season, SUM(Rainfall)
                  FROM weather
                  GROUP BY Season''')
total_rainfall_season = cursor.fetchall()
print("\nTotal rainfall for each season:")
for data in total_rainfall_season:
    print("Season:", data[0], "- Total Rainfall:", data[1], "millimeters")


conn.close()

Temperature Data:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

Cities without repetition:
Mumbai
London
Cairo

Records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

Fall Records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
City, Country, and Season with average rainfall between 200 and 400 millimeters:
('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

City and Country with average Fall temperature above 20 degrees (in increasing temperature order):
('Cairo', 'Egypt')
('Mumbai', 'India')

Total annual rainfall for Cairo: 27.6 millimeters

Total rainfall for each season:
Season: Fall - Total Rainfall: 569.0 millimeters
Season: Spring - Total Rainfall: 192.29999999999998 millimeters
Season: Summer - Total Rainfall: 1706.5 millimeters
Season: Winter - Total Rainfall: 230.1 millimeters

# Question9

In [58]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

# List of words in uppercase
list1 = [word.upper() for word in words]
print(list1)

# List of words in lowercase
list2 = [word.lower() for word in words]
print(list2)

# List of lengths of words
list3 = [len(word) for word in words]
print(list3)

# List containing word, lowercase word, and length for each word
list4 = [[word.upper(), word.lower(), len(word)] for word in words]
print(list4)

# List of words with 4 or more characters
list5 = [word for word in words if len(word) >= 4]
print(list5)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']